@use "global" as *;


.contact__contents{
    position: relative;
    @include mq('md'){
        display: flex;
        width: 100%;
        padding-top: rem(86);
        padding-bottom: rem(80);
       // padding-left: rem(50);
       // padding-right: rem(50);
       background: $white;
       box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    }
}

.contact__contents::before{
    position: absolute;
    content: '';
    top: 0%;
    right:calc(50% - min(56.7vw, rem(640))) ;
    //right: calc(50% - min(63vw, rem(430)));
    transform: translate(-50%, -50%);
    background-image: url(/assets/images/common/common-icon.svg);
    width: rem(110);
    height: rem(50);
    background-repeat: no-repeat;
    background-size: contain;

    @include mq('md'){
        width: rem(300);
        height: rem(140);
        //right: calc(50% - min(42.7vw, 36rem));
        right:calc(50% - min(42.7vw, rem(576))) ;
        transform: translate(31%, -29%);
    }
}

.contact__info{
    @include mq('md'){
        width: 52.962%;
        padding-left: rem(50);
        padding-right: rem(80);
        border-right: 1px solid $green;
    }
}

.contact__logo{
    aspect-ratio: 174/65;
    width: rem(174);
    margin: auto;
    @include mq('md'){
        width: rem(200);
    }
 
}

.contact__logo--sub{
    width: rem(190);
}

.contact__logo img{
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.contact__info-body{
    text-align: center;
    border-top: 1px solid $green;
    padding-top: rem(16);
    margin-top: rem(4);
    @include mq('md'){
        display: flex;
        margin-top: 0;
        justify-content: space-between;
    }
}

.contact__info-text{
    line-height: 1.67;
    @include mq('md'){
        line-height: 1.7;
        text-align: left;
    }
}

.contact__info-map{
    aspect-ratio: 295/160;
    margin-top: rem(16);
    
    @include mq('md'){
        width: 62.04%;
        margin-top: 0;
        aspect-ratio: 273/148;
    }
}

.contact__info-map iframe{
    width: 90%;
    height: 85%;
    object-fit: cover;
    @include mq('md'){
        width: 100%;
        height: 100%;
    }
  
}

.contact__body{
    text-align: center;
    margin-top: rem(10);
    @include mq('md'){
        width: 47.037%;
        padding-right: rem(24);
    }
}

.contact__body--sub{
    @include mq('md'){
        width: 45%;
        margin-top: rem(16);
    }
}

.contact__text{
    margin-top: rem(8);
    color: $green;
    font-size: rem(14);
    line-height: 1.28;
}

.contact__button{
    margin-top: rem(40);

}