@use "global" as *;

.gallery__wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(8);
    margin-top: rem(40);
    @include mq('md'){
        margin-top: rem(80);
    }
}

.gallery__items{
    display: flex;
    flex-direction: column;
    gap: rem(8);
    @include mq('md'){
        flex-direction: row;
     // display: grid;
     // grid-template-columns: repeat(2, 1fr);
     // grid-template-rows: repeat(2, 1fr);
    }
}
.gallery__small{
   aspect-ratio: 580/396;
   display: flex;
   flex-direction: column;
   gap: rem(8);
}
.gallery__large{
    aspect-ratio: 746/492;
}

.gallery__large img,
.gallery__small img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__items:nth-child(2){
    flex-direction: column-reverse;
    @include mq('md'){
        flex-direction: row-reverse;
    }
}
