@use "global" as *;


.page-info__tag-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: rem(16);
    column-gap: rem(21);
    position: relative;
    z-index: 10;
    @include mq('md'){
        gap: rem(90);
    }
}

.page-info__tag a{
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-top: rem(24);
    padding-bottom: rem(24);
    border: 1px solid $green;
    color: $green;
    line-height: calc(22/14);
    font-size: rem(24);
    cursor: pointer;
    position: relative;
  
}

.page-info__tag.page-info__tag--current a{
    color: $white;
    background-color: $green;
}

.page-info__tag a::before {
    background: $green;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: .5s cubic-bezier(0.45, 0, 0.55, 1);
    z-index: -1;
  }
  .page-info__tag a:hover {
    color: $white;
    opacity: 1;//reset css
  }

  .page-info__tag a:hover::before {
    transform: scale(1, 1);
  }
  
.page-info__item{
    margin-top: rem(16);
    @include mq('md'){
        margin-top: rem(24);
    }
}

