@use "global" as *;

.page-campaign__inner{
    position: relative;
}

.page-campaign__inner::before{
    position: absolute;
    content: '';
    width: rem(120);
    height: rem(60);
    top: rem(8);
    left: calc(50% - min(30vw, rem(430)));
    transform: translate(-61%, -58%);
    //left: 50%;
    background-image: url(/assets/images/common/voice-fish-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    @include mq('md'){
      top: rem(40);
        width: rem(320);
        height: rem(200);
    }
}



.page-campaign__wrapper{
    display: flex;
    flex-direction: column;
    row-gap: rem(32);
    margin-top: rem(40);
    padding-left: rem(25);
    padding-right: rem(25);
    @include mq('md'){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: rem(80);
        column-gap: rem(40);
        padding-left: 0;
        padding-right: 0;
    }
}

.page-campaign .campaign-card__title,
.page-campaign .campaign-card__price-content{
    margin-top: 0;
}
.page-campaign .campaign-card__title{
    @include mq('md'){
        font-size: rem(24);
        
    }
}
.page-campaign .campaign-card__category{
    @include mq('md'){
        font-size: rem(14);
        
    }
}
.page-campaign .campaign-card__body{
    @include mq('md'){
        padding: rem(24) rem(24) rem(40);
        
    }
}