@use "global" as *;


.page-price__inner{
    position: relative;
}

.page-price__inner::before{
    position: absolute;
    content: '';
    width: rem(120);
    height: rem(60);
    top: rem(8);
    left: calc(50% - min(30vw, rem(430)));
    transform: translate(-53%, -58%);
    //left: 50%;
    background-image: url(/assets/images/common/voice-fish-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    @include mq('md'){
        transform: translate(-62%, -21%);
        top: rem(-32);
        width: rem(320);
        height: rem(200);
    }
}

.page-price__contents{
    display: flex;
    flex-direction: column;
    gap: rem(37);
    @include mq('md'){
        gap: rem(80);
    }
}