@use "global" as *;


.page-404{
    background-color: $green;
    color: $white;
}

.page-404__content{
    text-align: center;
    position: relative;
    margin-bottom: rem(-1);
}

.page-404__content::after{
    position: absolute;
    content: '';
    width: rem(345);
    height: rem(345);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //left: 50%;
    mask-image: url(/assets/images/common/info-icon1.svg);
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: $black;
    opacity: 0.1;
    z-index: 1;
    @include mq('md'){
        left: 37%;
        top: 61%;
        width: rem(700);
        height: rem(700);
    }

}

.page-404__title{
    font-size: rem(80);
    font-family: $main-title-font;
    letter-spacing: 0.5em;
    text-indent: 0.5em;
    padding-top: rem(36);
    @include mq('md'){
        font-size: rem(160);
        padding-top: rem(94);
    }
}
.page-404__text{
    margin-top: rem(-15);
    @include mq('md'){
        margin-top: 0;
    }
}

.page-404__button{
    position: relative;
    z-index: 10;
    margin-top: rem(40);
    @include mq('md'){
        margin-top: rem(80);
    }
}