@use "global" as *;

.voice__inner{
    @include mq('md'){
        position: relative;
    }
}

.voice__inner::before{
    @include mq('md'){
        position: absolute;
        content: '';
        top: rem(8);
        //left: 50%;
        left: calc(50% - min(30vw, rem(430)));
        transform: translate(-61%, -58%);
        background-image: url(/assets/images/common/voice-fish-icon.svg);
        width: rem(320);
        height: rem(200);
        background-repeat: no-repeat;
        background-size: contain;
        
    }

}


.voice__inner::after{
    @include mq('md'){
        
        position: absolute;
        content: '';
        transform: translate(-50%, -50%);
        background-image: url(/assets/images/common/voice-icon.svg);
        width: rem(70);
        height: rem(160);
        background-repeat: no-repeat;
        background-size: contain;
        top: 100%;
        right:calc(50% - min(48.7vw, 39.9rem)) ;
        transform: translate(-135%, -50%);
    }
}


.voice__contents{
    margin-top: rem(40);
    @include mq('md'){
        margin-top: rem(32);
    }
}

.voice__button{
    text-align: center;
    margin-top: rem(40);
    @include mq('md'){
        margin-top: rem(80);
    }
}