@use "global" as *;


.footer{
    background-color: $green;
    color: $white;
    padding-top: rem(48);
    padding-bottom: rem(56);
    @include mq('md'){
        padding-top: rem(80);
        padding-bottom: rem(80);
    }
}

.footer__icon{
    @include mq('md'){
        display: flex;
        align-items: flex-end;
    }
}

.footer__logo{
    aspect-ratio: 120/45;
    text-align: left;
    width: 32%;
    @include mq('md'){
        width: 20%;
    }
}

.footer__logo img{
    width: 100%;
    object-fit: cover;
}

.footer__sns{
    display: flex;
    gap: rem(16);
    margin-top: rem(17);
    @include mq('md'){
        margin-top: 0;
        margin-bottom: rem(4);
        margin-left: rem(28);
    }
}

.footer__sns-fb,
.footer__sns-instagram{
    aspect-ratio: 1/1;
    width: rem(24);
    @include mq('md'){
        width: rem(32);
    }
}

.footer__sns-fb img,
.footer__sns-instagram img{
    width: 100%;
    object-fit: cover;
}

.footer__nav{
    margin-top: rem(25);
   // margin-left: rem(35);
   padding-left: rem(18);
   
   @include mq('md'){
        padding-left: rem(22);
        margin-top: rem(-2);
        margin-left: 0;
    }
}

.footer__copyright{
    margin-top: rem(22);
    text-align: center;
    @include mq('md'){
        margin-top: rem(64);
        
    }
}

.footer__copyright small{
    font-size: rem(11);
    font-weight: $normal;
    font-family: $english-font;
    line-height: 1.5;
    letter-spacing: 0.04em;
    @include mq('md'){
        font-size: rem(12);
        letter-spacing: 0.085em;
    }
}