@use "global" as *;


.global-nav{
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, 1fr);
    column-gap: rem(40);
    row-gap: 0;
    @include mq('md'){
        row-gap: rem(40);
        display: flex;
        //justify-content: space-between;
        column-gap: rem(136);
    }
}


.global-nav__item{
    font-size: rem(16);
    font-weight: $bold;
    position: relative;
    padding-top: rem(12);
    padding-bottom: rem(12);
    line-height: 1.12;
}

.global-nav__item::before{
    position: absolute;
    content: '';
    background-image: url(/assets/images/common/icon-starfish.svg);
    top: rem(16);
    left: rem(-28);
    width: rem(18);
    height: rem(18);
}


.global-nav__sub-item{
    font-size: rem(15);
    padding-top: rem(12);
    padding-bottom: rem(12);
    font-weight: $normal;
    @include mq('md'){
        font-size: rem(16);
    }
}

