@use "global" as *;

.modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
  padding: 40px 20px;
  transition: opacity 0.3s, visibility 0.3s;
  opacity: 0;
  background: rgba(32, 32, 32, 80%);
}

.modal.is-open {
  visibility: visible;
  opacity: 1;
}

.modal__body {
  position: relative;
  display: inline-block;
  width: 90%;
}


.modal__content {
  @include mq('md'){
    padding: rem(90);
    
  }
}


